@font-face {
  font-family: "Pixelion";
  src: url("fonte/Pixelation.ttf") format("truetype"); /* Certifique-se de ajustar o caminho para o arquivo .ttf */
}

html {
  font-family: "Pixelion", sans-serif; /* Aplique a fonte Pixelion ao corpo */
}
body {
  background-image: url(background.png);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
  justify-content: flex-start;
  height: 100vh;
  padding-left: 20px; /* Adiciona um pequeno espaço à esquerda */
  font-size: 30px;
}

.yellow-text {
  color: yellow;
}

h1 {
  margin-top: 200px; /* Ajuste o topo, se necessário */
  font-size: 70px;
  color: blueviolet;
}

a {
  margin-top: 30px;
  padding: 5px 10px; /* Adiciona espaçamento ao redor do texto */
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white; /* Muda a cor do texto para branco */
}
